body{
    background-color: beige;
}

#countLabel{
    display: block;
    text-align: center;
    font-size: 10em;
    font-family: Helvetica;

}

#buttoncontainer{
    text-align: center;

}

.buttons{
    padding: 10px 20px;
    font-size: 1.5em;
    color: white;
    background-color: rgb(146, 212, 232);
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.25s;

}

.buttons:hover{
    background-color: rgb( 33, 165, 198);

}